<form method="get" action="/department/savenew">
    <div>
        <label>department name</label>
        <input type="text" name="Name" value="@Model.Name" class="form-control" />
    </div>
    <div>
        <label>department manager</label>
        <input type="text" name="managername" value="@Model.managername" class="form-control" />
    </div>
    <input type="submit" value="add" class="btn btn-success"/>
</form>
